.about {
  position: relative;
  background-color: $color-gray-light;
  @extend %section;

  &__container {
    display: grid;
    @extend %container;

    @include lg-min {
      grid-template-columns: 1fr 271px;
      gap: $gap-x5;
    }

    @include lg-md {
      grid-template-areas: 1fr 271px;
      gap: $gap-x2;
    }
  }

  &__content {
    max-width: 929px;
    font-size: 1.125rem;
    letter-spacing: 0.049em;
    color: $color-gray;
    height: 491px;
    position: relative;

    @include lg-min {
    }

    & p:first-of-type::after {
      right: -50px;
      position: absolute;
      top: 140px;
      width: 2px;
      height: 200px;
      content: "";
      background-color: rgba(99, 117, 136, 0.1);
    }
  }

  &__title {
    margin-top: 0;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    margin-bottom: 2.7rem;
    font-family: $font-header;
    line-height: 48px;
    color: $color-primary;
    font-weight: 700;
  }

  &__image {
    max-width: 271px;
    max-height: 491px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 2px;

    img {
      width: 266px;
      height: 480px;
    }
  }
}
